xerobase/Debug
xerobase/Release
phoenix/Debug
phoenix/Release
doc/out
build
.gradle
*.swp
.vs/
ROBOT
SIM
**/*.o
**/*.a
**/*.exe
gopigo3/gopigo3xero/GoPiGo3Xero
**/*~
**/*.mp4
**/*.jpg
**/*.JPG
**/*.mov
**/*.MOV
