gendocs
build
.gradle
*.swp
.vs/
ROBOT
SIM
*.o
*.a
gopigo3/gopigo3xero/GoPiGo3Xero
gopigo3/gopigo3simple/GoPiGo3Simple
**/*.exe
gopigo3/gopigo3xero/GoPiGo3Xero
**/*~
**/*.mp4
**/*.jpg
**/*.JPG
**/*.mov
**/*.MOV
**/*.avi
**/*.AVI
html
rtf
*.stackdump
makebuild
logs
/deploy
.vscode/ipch
**/x64
**/Debug
**/Release
tools/PathViewer/output
/**/Debug
/**/Release
tools/PathViewer/PathViewer/output