xerobase/Debug
xerobase/Release
phoenix/Debug
phoenix/Release
doc/out
build
.gradle
*.swp
*test/*.o
*test/*.exe
.vs/
ROBOT
SIM
**/*.o
**/*.a
gopigo3/gopigo3xero/GoPiGo3Xero
gopigo3/gopigo3simple/GoPiGo3Simple
